.form-save{
   background-color: #ffffff;
}
.form-page{
   display: none;
   padding: 20px 10px;
   background-color: #ffffff;
}

.form-page .colorsquare{
   width: 50px;
   height: 50px;
   margin: 10px auto;
}
.form-page .colorsquaredark{
   width: 50px;
   height: 50px;
   margin-top: 30px;
   margin-left: auto;
}
.form-page .colorsquarelig{
   width: 50px;
   height: 50px;
   margin-top: 30px;
   /* margin: auto; */
}
.form-page label{
   font-size: 18px;
   margin-left: 0px;
   display: block;
   background-color: white;
}

input[type='checkbox']{
   position: absolute;
   left: 50%;
   vertical-align: middle;
}

.form-save input[type='radio']{
   position:relative;
   left: 50%;
   margin: -6.4px;
}
.form-container label{
   font-size: 30px;
}

.colorSliderRender{
   width:100px;
   height:100px;
   display: inline-block;
   margin-left: 9%;
}
/* Mark the active step: */
.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #c0d8c6;
}

.eachpagecomponent h{
   font-size: 50px;
}
.container{
  background-color: #BCBCBC;
}
.slidercontainer{
  background-color: #BCBCBC;
}
.eachpagecomponent{
   background-color: #ffffff;
   margin: 0px auto;
   width: 70%;
   min-width: 300px;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbbbbb;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}
#result{
   display: none;
}
.stepbtn{
   width: 20%;
   margin: auto;
   text-align: center;
}
table{
   width:80%;
   margin: auto;
   text-align: center;
}
table, th, td {
  border: 1px solid black;
}
.slidedark{
  width: 30px;
  height: 30px;
  float: left;
  margin-left: 32%;
  margin-top: 50px;
  display: none;
}
.slidelight{
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 32%;
  margin-top: 50px;
  display: none;
}
